<div class="container">
  <div class="content">
    <div class="header">
      <h1>{{ pageTitle }}</h1>
    </div>

    <div>
      <button (click)="getStudents()">All students</button>
      <button>With Balance</button>
    </div>
    <div>
      <div><input type="text" placeholder="Enter StudentID" id="id" [(ngModel)] ="studentID" ></div>
      <div><input type="text" placeholder="Enter Name" id="name" [(ngModel)] ="name" ></div>
      <div><input type="text" placeholder="Enter Balance" id="balance" [(ngModel)] ="balance" ></div>
      <div><input type="submit" id="submit" (click)="addStudent" ></div>
    </div>

    <div class="table-div">
      <table>
        <tr>
          <th>StudentID</th>
          <th>Name</th>
          <th>Balance</th>
        </tr>
        <tr *ngFor="let student of students">
          <td>{{ student.studentID }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.balance }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>